<header id="header">
  <h1><router-link to="/">Village Square</router-link></h1>
  <nav class="links">
    <ul>
      <li><a href="#">About</a></li>
      <li><a href="#">Contact Us</a></li>
      <li v-if="!authenticated"><router-link to="/signup">Sign Up</router-link></router-link></li>
      <li v-if="!authenticated"><router-link to="/login">Login</router-link></li>
      <li><a href="#">Top Stories</a></li>
    </ul>
  </nav>
  <nav class="main">
    <ul>
      <li class="search">
        <a class="fa-search" href="#search">Search</a>
        <form id="search" method="get" action="#">
          <input type="text" name="query" placeholder="Search" />
        </form>
      </li>
      <li class="menu" v-if="authenticated">
        <a class="fa-bars" href="#menu">Menu</a>
      </li>
    </ul>
  </nav>
</header>
