<article class="post">
  <header>
    <div class="title">
      <h2><router-link :to="{ name: 'post', params: {id: post.id }}">{{ post.title }}</router-link></h2>
      <p>The compelling story of a political suicide</p>
    </div>
    <div class="meta">
      <time class="published" datetime="2015-11-01">May 15, 2017</time>
      <a href="#" class="author"><span class="name">Jane Doe</span><img src="assets/images/avatar.jpg" alt="" /></a>
    </div>
  </header>
  <div v-html="post.body"></div>
  <footer>
    <ul class="actions">
      <li><a href="#" class="button big">Continue Reading</a></li>
    </ul>
    <ul class="stats">
      <li><a href="#">General</a></li>
      <li><a href="#" class="icon fa-heart">28</a></li>
      <li><a href="#" class="icon fa-comment">128</a></li>
    </ul>
  </footer>
</article>
