<section id="menu">

  <!-- Search -->
    <section>
      <form class="search" method="get" action="#">
        <input type="text" name="query" placeholder="Search" />
      </form>
    </section>

  <!-- Links -->
    <section>
      <ul class="links">
        <li>
          <a href="#/posts/new">
            <h3>New Post</h3>
            <p>Tell us something new</p>
          </a>
        </li>
        <li>
          <a href="#">
            <h3>My Posts</h3>
            <p>Sed vitae justo condimentum</p>
          </a>
        </li>
        <li>
          <a href="#">
            <h3>My Top Stories</h3>
            <p>Phasellus sed ultricies mi congue</p>
          </a>
        </li>
        <li>
          <a href="#">
            <h3>Recently Posted By Me</h3>
            <p>Porta lectus amet ultricies</p>
          </a>
        </li>
      </ul>
    </section>

  <!-- Actions -->
    <section>
      <ul class="actions vertical">
        <li><a href="#" class="button big fit" @click="logout()">Log Out</a></li>
      </ul>
    </section>

</section>
